// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;


////bp
$largest-bp: 75em;     //1200/16 = 75em
$mid-bp: 56.25em;      //900/16= 56.25em
$small-bp:50em;            //800/16=50em;
$ms-bp:37.5em;
$xl-bp:31.25em;            //500px                         

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: inherit;
    font-size: 62.5%;


    @media only screen and (max-width:$largest-bp) {
        font-size: 50%;
    }
}

body {
    font-weight: 300;
    font-family: $font-primary;
    color: $color-grey-dark-2;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem,1fr) [center-start] repeat(
            8,
            [col-start] minmax( min-content,14rem) [col-end]
        ) [center-end] minmax(6rem,1fr) [full-end];


        @media only screen and (max-width:$mid-bp) {
            grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
            grid-template-columns:  [ full-start] minmax(6rem,1fr) [center-start] repeat(
                    8,
                    [col-start] minmax( min-content,14rem) [col-end]
                ) [center-end] minmax(6rem,1fr) [full-end];
        }
        @media only screen and (max-width:$small-bp) {
            grid-template-rows: 6rem calc(100vh - 6rem) max-content min-content repeat(2,min-content) repeat(3, min-content);
        }
}


