.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 5rem;

}

.nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    list-style: none;
    margin-bottom: 2rem;
    grid-gap: 1rem;
    &__link:visited,
    &__link:link {
        color: white;
        font-size: 1.6rem;
        font-family: $font-primary;
        padding: 1.5rem ;
        text-decoration: none;
        transition: all 0.3s;
        display: block;
        text-align: center;
    }

    &__link:hover,
    &__link:active {
        background-color: rgba($color: #fff, $alpha: 0.05);
        transform: translateY(-3px);
        box-shadow: 0 3rem 1rem rgba($color: #000000, $alpha: 0.1) ;
    }
}


.copyright{
    text-align: center;
    font-size: 1.6rem;
}